/*
	BrightNflat css file
*/

/*--------- Init fonts ---------*/

@font-face { font-family: Bellota;  src: url('/themes/brightnflat/fonts/bellota/Bellota-Regular.otf'); } 
@font-face { font-family: Bellota; font-weight: bold; src: url('/themes/brightnflat/fonts/bellota/Bellota-Bold.otf');}
@font-face { font-family: Mohave; font-weight: italic; src: url('/themes/brightnflat/fonts/Mohave-Typefaces/Mohave.otf');}
@font-face { font-family: Circula;  src: url('/themes/brightnflat/fonts/circula/circula-medium.otf'); } 

/*--------- Styles for tags ---------*/

body {
}

input[type="text"],input[type="password"],input[type="email"]{
	border: none;
	border-radius: 4px;
	line-height: 24px;
}
input[type="text"]:active,input[type="text"]:focus,input[type="password"]:active,input[type="password"]:focus,input[type="email"]:active,input[type="email"]:focus{
	outline: none;
	border-width: 2px;
	border-style: solid;
	
}

a{
	text-decoration: none;
}

.visually-hidden{
	display: none;
}

input[type="checkbox"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;
	border-width: 2px;
	border-style: solid;
	
}

input[type="checkbox"]:focus{
	background: url("/themes/brightnflat/images/checkbox.png");
	outline: none;
	background-repeat: no-repeat;
	
}
input[type="checkbox"]:hover{
	
}

.button{
	font-weight: bold;
	border: none;
	border-bottom-width:2px; 
	border-bottom-style: solid;
}

.button:active{
	outline: none;
}

.button:hover{
}

.meta{
}


/*--------- Header ---------*/


#header{
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

#site-name a{
        text-decoration: none;
        font-family: Bellota;
        font-style: italic;
        font-size: 1.8em;

}
#site-slogan {
        font-size: 1.3em;
        font-family: Bellota;
}

#header-layout{
}

#header-layout tr td{
	text-align: center;
}



#name-and-slogan {
}

#secondary-menu {

}

#secondary-menu .first a{
	font-size: 1em;
	line-height: 20px;

}
#secondary-menu .last a{
	font-size: 1em;

}

#secondary-menu a{
	
}

#site-name a{
	text-decoration: none;
	font-family: Bellota;
	font-style: italic;
	font-size: 1.8em;

}
#site-slogan {
	font-size: 1.3em;
	font-family: Bellota;
}

.navigation {
	font-family: Mohave;
}
.navigation ul{
	
	list-style: none;
}
.navigation ul li{
	
}
.nav-block {
}

.navigation ul li a{
	text-decoration: none;
	border-radius: 5px;
	font-size: 1.5em;
	transition: 0.5s;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

.navigation ul li a:hover{
}

.navigation ul li a.active{
	
}

.navigation ul li a:active{
}



/*---------- Main wrapper ---------*/



#main-wrapper {

}

#main{

}

#content{

}

.node-article{

}

#page-title{
}

#sidebar-first{

}

#sidebar-second{

}
.region-sidebar-first .block,.region-sidebar-second .block{
}
.region-sidebar-first .block h2,.region-sidebar-second .block h2{
	border-bottom-width: 2px;
	border-bottom-style: solid;
}


.main-with-sidebar-first{

}

.main-without-sidebars {

}
.main-with-sidebar-second{


}

.main-with-sidebars{

}


/*---------- Footer ----------*/



#footer-wrapper {
	border-top-width: 2px;
	border-top-style: solid;
}

footer{
    
}
#block-brightnflat-footer h2{
	display: none;
}


